.nav_bg {
    background-image: url("./images/back-nav.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 150px;
}
.logo{
    max-width: 350px;
}